/*
 * CSS Normalize 0.8.1 v28
 */

/*
 *  block elements homogenization
 */
canvas, dd, div, dl, fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, address, article, aside, audio, blockquote, body,
header, hgroup, hr, ol, output, p, pre, section, table, tfoot, tbody, thead, 
ul, video, html, legend, time, embed, menu, output, applet, iframe {
  padding: 0;
  margin: 0;
}

/*
 *  force html5 tags to be a block elements in IE 8/9
 */
article, aside, details, figcaption, figure, footer, header, hgroup, 
main, nav, section, summary {
  display: block;
}

/*
 *  in-line elements homogenization
 */
b, big, i, small, tt, abbr, acronym, cite, code, dfn, em, kbd,
button, input, label, select, textarea, optgroup, small, strike, mark,
strong, samp, var, a, bdo, br, img, map, object, q, span, sub, sup {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}

 /*
  *  table homogenization
  */
th, td {
  padding: 0;
}

/*
 *  force htmk5 tags to be a in-line block elements in IE 8/9
 */
audio, canvas, progress, video {
  display: inline-block;
}

/*
 *  remove image border when its placed in anchor in IE
 */
img {
  border: 0;
}

/*
 *  form elements homogenization
 */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
}

 /*
  *  style reset of list elements
  */
ul, ol, dir, menu, dl {
  list-style: none;
}

 /*
  *  body element normalization
  */
 body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
 }